@charset "UTF-8";
/**
 * @name Spotify Discord
 * @version 2.0.0
 * @description Combine Discord and Spotify into one
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Spotify-Discord/css/source.css
 * @invite jzJkA6Ztestsaaaatesttest
 */
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/css/source.css);
@import "BetterDiscord/Themes/Spotify-Discord/src/selectorPlaceholders";

:root {
  --app-font: "Satoshi";
  --app-background: hsl(0, 0%, 0%);
  --app-foreground: hsl(0, 0%, 7%);
  --app-card-radius: 15px;
  --app-card-margin: 8px;
  --app-card-top-margin: 4px;
  --app-card-border-color: hsl(0, 0%, 14%);
  --app-bar-size: 80px;
  --accent-hue: 2;
  /* accent color (red) */
  --accent-saturation: 72.9%;
  --accent-lightness: 42%;
  --accent-hsl: var(--accent-hue),
      calc(var(--accent-saturation) * var(--saturation-factor)),
      var(--accent-lightness);
  --accent-text-color: hsl(0, 0%, 100%);
  --alert-hue: 0;
  --alert-saturation: 85%;
  --alert-lightness: 61%;
  --alert-hsl: var(--alert-hue),
      calc(var(--alert-saturation) * var(--saturation-factor)),
      var(--alert-lightness);
  --alert-text-color: hsl(0, 0%, 100%);
  --sidebar-panel-color: hsl(0, 0%, 12%);
  --sidebar-panel-border: hsl(0, 0%, 21%);
  --header-bar-height: 56px;
  --header-bar-color: hsl(0, 0%, 13%);
  --card-color: hsl(0, 0%, 10%);
  --card-color-hover: hsl(0, 0%, 14%);
  --card-color-active: hsl(0, 0%, 22%);
  --card-radius: 6px;
  --card-border-color: hsl(0, 0%, 19%);
  --button-height: 36px;
  --button-padding: 0 18px;
  --button-radius: calc(var(--button-height) / 2);
  --popout-color: hsl(0, 0%, 12%);
  --popout-color-alt: hsl(0,0%,11%);
  --popout-radius: 6px;
  --popout-radius-big: 10px;
  --popout-border-color: hsl(0, 0%, 26%);
  --menu-border-color: hsl(0, 0%, 26%);
  --menu-text-color: hsl(0, 0%, 85%);
  --menu-item-radius: 6px;
  --background-tinted-hover: hsla(0, 0%, 100%, 0.07);
  --background-tinted-active: hsla(0, 0%, 100%, 0.11);
  --background-tinted-highlight: hsla(0, 0%, 100%, 0.17);
  --background-tinted-dark: hsla(0, 0%, 0%, 0.23);
  --input-height: 36px;
  --input-padding: 0 12px;
  --input-color: hsla(0, 0%, 100%, 0.09);
  --input-radius: 4px;
  --input-border-color: hsl(0, 0%, 33%);
  --input-text-color: hsl(0, 0%, 96%);
  --input-placeholder-color: hsl(0, 0%, 71%);
  --main-textarea-min-height: 48px;
  --main-textarea-radius: calc(var(--main-textarea-min-height) / 2);
  --main-textarea-color: hsl(0, 0%, 14%);
  --main-textarea-border-color: hsl(0, 0%, 20%);
  --main-textarea-text-color: hsl(0, 0%, 60%);
  --main-textarea-placeholder-color: hsl(0, 0%, 54%);
  --main-textarea-typing-color: hsla(0, 0%, 7%, 0.9);
  --textarea-margin: calc((var(--app-bar-size) - var(--main-textarea-min-height)) / 2);
  --content-full-height: calc(100vh - var(--app-card-top-margin) - var(--textarea-margin) - 12px);
  --switch-knob-color: hsl(0, 0%, 100%);
  --switch-slider-color: hsl(0, 0%, 33%);
  --message-color-hover: hsl(0, 0%, 9%);
  --slider-color: hsl(0, 0%, 70%);
  --slider-background: hsl(0, 0%, 26%);
  --scrollbar-width: 12px;
  --scrollbar-color: hsl(0, 0%, 35%);
  --scrollbar-hover-color: hsl(0, 0%, 49%);
  --scrollbar-active-color: hsl(0, 0%, 58%);
  --default-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --default-time: 250ms;
  --text-brand: hsl(var(--accent-hsl));
  --text-link: hsl(var(--accent-hsl));
  --default-shadow: 0 16px 24px hsla(0, 0%, 0%, 0.3),
      0 6px 8px hsla(0, 0%, 0%, 0.2);
  --code-font: Consolas,
      Andale Mono WT,
      Andale Mono,
      Lucida Console,
      Lucida Sans Typewriter,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Liberation Mono,
      Nimbus Mono L,
      Monaco,
      Courier New,
      Courier,
      monospace;
}


%guildChildWrapper {
  &%guildChildWrapperNoHoverBg {
      background-color: hsl(222.857 calc(1*6.667%) 15%); /* cahnge this to either a color so its not just black or transparent */
      color: var(--accent-text-color);
  }
}


/* profile changes: banner gradient, corner */
%userProfileOuter {
  border-radius: var(--card-radius) !important;
}

%userProfileBanner  {
  border-radius: var(--card-radius) !important;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

%buttonFilled {
  --button-background: hsla(0,0%,11%,.3);
}

/* bot text diff color */
%botTag {
  background-color: hsl(var(--accent-hsl));
}

%botText {
  color: white;
}

/* inverted border chat */
%chatContent {
  &::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 10px;
  background-color: var(--app-foreground);
  /* Same as container's background color */
  bottom: 0;
  right: 0;
  transform: translate(0px, 10px);
  }
}

%chatContent{
  &::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  background-color: transparent;
  /* Same as container's background color */
}}

%chatContent{
  &::before {
  bottom: 0;
  right: 0;
  border-radius: 0 20px 0 0;
  transform: translate(0px, 40px);
  box-shadow: 0 -10px 0 0 var(--app-foreground);
  /* This is where the magic happens! */
}
}

/* danger color */
#guild-context-leave-guild > %menuPopoutLabel,
[data-tab-id="logout"],[data-tab-id="DELETE"],
#user-context-block > %menuPopoutLabel,
%noticeDanger,
%menuPopoutItemLeave  %menuPopoutCheckbox,
%menuPopoutItemLeave %menuPopoutRadio, #user-context-remove-friend {
  color: hsl(var(--alert-hsl)) !important;
}

/* makes the members list span the whole screen without header + thread, modview, etc other sidebars*/
%membersContainer, %membersWrap, %searchResultsWrap, %rulesGuildSidebar {
  background-color: var(--app-foreground);
  height: calc(100% + 80px);
  max-height: none;
}

%userProfileOuter, %chat:has(> %headerBar), %chat:has(%forumContainer) {
  height: calc(100% + 75px);
  border-radius: 10px;
  max-height: none;
}

/* fixes tabs */
%tabBarItemSelected, %guildSettingsRolesTabBarItem:hover {
  border-radius: 0px !important;
}

%guildSettingsRolesTabBarItem > %textSmNormal {
  position: relative;
  top: -4px;
}

/* vencord tab fixes) */
    .vc-settings-donate > div > .button_dd4f85 {
      margin: 15px;
    }

    .vc-plugins-restart-card > button:hover {
      transform: scale(1.03) !important;
      background-color: red;
    }

/* forum post gradient color fix */
%postTextContentFooter {
  background: linear-gradient(
    0deg,
    var(--app-foreground),
    color-mix(in srgb, var(--app-foreground), transparent 3%) 36px,
    color-mix(in srgb, var(--app-foreground), transparent 60%)
  )!important;
}

/* lines activity call and profile bottom left */
%panels {
  border-top: 1px solid var(--sidebar-panel-border) !important;
}

%activityPanel  {
  border-bottom: 1px solid var(--sidebar-panel-border) !important;
  position: relative;
  z-index: 2;
}

%connectionPanelWrapper { /* vc, override source*/
  border-top: none !important;
}

%connectionPanelWrapper {
  &:not(:empty) {
    border-bottom: 1px solid var(--sidebar-panel-border);
  }
}







/* spotify controls */
    /* fix color */
    .vc-spotify-shuffle-on > .vc-spotify-button-icon, .vc-spotify-repeat-context > .vc-spotify-button-icon, .vc-spotify-repeat-track > .vc-spotify-button-icon, .vc-spotify-repeat-track > span {
      fill: hsl(var(--accent-hsl));
      color: hsl(var(--alert-hsl));
    }

    #vc-spotify-info-wrapper {
      width: 183px;
    }

    .vc-spotify-button-row {
      width: 65px;
    }

    .vc-spotify-button-row .vc-spotify-button:first-child {
      position: relative;
      left: 31px;
      top: 21px;
    }

    .vc-spotify-button-row .vc-spotify-button:last-child {
      position: relative;
      left: -31px;
      top: 21px;
    }

    .vc-spotify-button {
      width: 20px;
      height: 20px;
    }

    .vc-spotify-button-icon {
      width: 20px;
      height: 20px;
    }

    #vc-spotify-player:hover #vc-spotify-info-wrapper {
      width: 183px;
      transition: width 0.3s ease-in-out;
    }

    #vc-spotify-player:hover .vc-spotify-button-row {
      display: none;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    #vc-spotify-info-wrapper {
      width: 245px;
      transition: width 0.3s ease-in-out;
    }

    .vc-spotify-button-row {
      display: flex;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    /* making it a chip */
    #vc-spotify-player {
      border-radius: 8px;
      overflow: hidden;
      width: calc(240px + var(--panel-placement) - 10px);
      height: calc(var(--app-bar-size) - 10px);
      left: calc((72px + var(--app-card-margin) * 2) * -1 + 10px);
      bottom: calc(var(--app-bar-size) * -1 + 5px);
      clip-path: inset(0 round 8px); /* Zorgt ervoor dat alles binnen de border-radius blijft */
    }
    
    #vc-spotify-player::before {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--vc-spotify-track-image) center/cover no-repeat; 
      filter: blur(3px) opacity(0.6);
      background-color: var(--app-foreground);
      border-radius: inherit; /* Zorgt ervoor dat de achtergrond dezelfde radius heeft */
      z-index: -1;
    }
    
  /* repositioning for the chip to look good*/
  #vc-spotify-info-wrapper {
    margin-top: 4px;
    margin-left: calc(var(--app-card-margin) * 2 + 44px);
  }
  #vc-spotify-album-image {
    top: 10px;
    left: 10px;
  }
  .vc-spotify-button-row {
    background: none;
    top: 6px;
  }
  #vc-spotify-button-icon {
    fill: var(--text-normal);
  }
  #vc-spotify-progress-bar{
    position: relative;
    left: -8px;
  }


/** * ========== floyddo only fixes ==========*/
  /* remove annoying things */
  %channelTextAreaButtonsContainer > %button {/* remove nitro gift from buttons in chat bar */
    display: none;
  }
  %messageHoverBarButton:has(.emoji), .separator_f84418 {
    display: none;
  }
  %channelAppLauncher {
    display: none;
    
  }
  li a[href="/store"] { /* home > nitro */
    display: none;
  }
  
  li a[href="/shop"] { /* home > shop */
    display: none;
  }

  
  
  %badgeListContainer>div:has(>a[href="https://discord.com/settings/premium"]), %badgeListContainer>div:has(>a[href="https://discord.com/discovery/quests"]) { /*https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png */
    display: none;
  }
  /* line at activity half */
  .activityPanel_a4d4d9 {
    background: transparent !important;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right,
            transparent 0%,
            transparent 5%,
            var(--card-border-color) 5%,
            var(--card-border-color) 95%,
            transparent 95%,
            transparent 100%) 1;
    border-image-source: linear-gradient(to right,
            transparent 0%,
            transparent 5%,
            var(--card-border-color) 5%,
            var(--card-border-color) 95%,
            transparent 95%,
            transparent 100%);
    border-image-slice: 1; 
    border-left: 0;
    border-right: 0;
  }
  /* fix old message bar */
  %jumpToPresentBar {
    right: 16px;
    margin: 0px;
  }
  /* fix for reply color */
  %mouseModeFullMotion %message %replyingToIndicator:hover {
    background-color: hsla(var(--alert-hsl), 0.175);
  }

  %replyingToIndicator {
    background-color: hsla(var(--alert-hsl), 0.1);
  }

  %replyingToIndicator:before { 
    background-color: hsl(var(--alert-hsl));
  }
  /* discover icon / footer fix */

  %guildDiscoverFooter  {
    display: none;
  }

  /* murder channelAppLauncher */
  %channelAppLauncher {
      display: none;
  }
  /* EXPERIMENTAL full sized banner */
  /*
  .banner_d5fdb1 {
      mask-image: linear-gradient(to bottom left, black 0%, transparent 80%);
  }
  .mask_d5fdb1 {

      transform: scale(1,6.9); transform-origin: top;  overflow: visible;  
      } 
  .button_f9d37d.icon_f9d37d  {
      background: var(--redesign-button-overlay-alpha-background)!important;
  }
  .body_a972fe {
      z-index: 10;
      position: relative;
  }
  .mask_d5fdb1 > foreignObject {
      mask: none;
      mask-image: none;
      mask-type:unset;
  }*/