/**
 * @name Translucence
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
.vc-spotify-repeat-track svg, .vc-spotify-repeat-context svg, .vc-spotify-shuffle-on svg {
	fill: var(--interactive-active);
}
.vc-spotify-repeat-1 {
	color: var(--interactive-active);
}
.barFill_a562c8 {
	background-color: var(--interactive-muted)!important;
}
:root {
	--app-bg: transparent;
	--app-blur: 8px;
	--app-margin: 24px;
	--app-radius: 8px; /*	-	*/
	
		--app-font: "Satoshi";
		--app-background: hsl(0, 0%, 0%);
		--app-foreground: hsl(0, 0%, 7%);
		--app-card-radius: 15px;
		--app-card-margin: 8px;
		--app-card-top-margin: 4px;
		--app-card-border-color: hsl(0, 0%, 14%);
		--app-bar-size: 80px;
		--accent-hue: 2;
		/* accent color (red) */
		--accent-saturation: 0%;
		--accent-lightness: 10%;
		--accent-hsl: var(--accent-hue),
			calc(var(--accent-saturation) * var(--saturation-factor)),
			var(--accent-lightness);
		--accent-text-color: hsl(0, 0%, 100%);
		--alert-hue: 0;
		--alert-saturation: 85%;
		--alert-lightness: 61%;
		--alert-hsl: var(--alert-hue),
			calc(var(--alert-saturation) * var(--saturation-factor)),
			var(--alert-lightness);

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2); /*	-	*/

	--message-color: rgba(0,0,0,0.4);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/
	
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px; /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}
